body {
    background-size: initial;
    background-image: url("../img/beige_wall_001_nor_dx_1k.jpg");
    background-color: rgb(170, 222, 188);
    background-blend-mode: luminosity;
    font-family: "Roboto Slab", serif;
    box-sizing: border-box;
    margin: 0;
}


nav {
    padding: 0.5vw;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: rgba(43, 43, 43, 0.76);

}

.contentBlok {
    background-color: white;
    margin-top: 2vw;
    margin-left: 4vw;
    margin-right: 4vw;
    padding: 2vw;
    border-radius: 1vw;
    box-shadow: 7px 10px 17px rgba(0, 0, 0, 0.2);
    font-size: 1.2em;
}

.header-MijneersteRobot {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: normal;
    font-size: 2em;
    color: rgb(116, 160, 123);
    font-weight: bold;
    background-image: url(../img/20221105_134834.jpg);
    background-size: cover;
    background-position: center;
}

.header-3Dsculptuur {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: normal;
    font-size: 2em;
    color: rgb(116, 160, 123);
    font-weight: bold;
    background-image: url(../img/20221105_134834.jpg);
    background-size: cover;
    background-position: center;
}

.header-Home {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: normal;
    font-size: 2em;
    color: rgb(116, 160, 123);
    font-weight: bold;
    background-image: url(../img/20221105_134834.jpg);
    background-size: cover;
    background-position: center;
}

.header-eigenWebservice {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: normal;
    font-size: 1em;
    color: rgb(116, 160, 123);
    font-weight: bold;
    background-image: url(../img/Webservice.png);
    background-size: cover;
    background-position: center;
}

section {
    display: flex;
    flex-direction: column;
}


.projects {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.projectCards {
    width: 40vw;
    padding: 1vw;
    margin: 1vw;
    background-color: rgb(224, 224, 224);
    border-radius: 5%;
    box-shadow: 7px 10px 17px rgba(0, 0, 0, 0.2);
}

.projectCards h3 {
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin-left: 5vw;
    width: 14vw;
    border-radius: 15px;
    padding: 1vw;
    font-size: 1em;
    color: black;
}

.projectCards img {
    width: 100%;
    border-radius: 5%;
}

.title {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
}

.afbeeldingen {
    display: flex;
    flex-direction: row;

}

.afbeelding {
    width: 30vw;
    padding: 1vw;
    margin: 1vw;
    background-color: rgba(173, 173, 173, 0.308);
    border-radius: 1vw;
    box-shadow: 7px 10px 17px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 1.2vw;

}

.afbeelding img {
    width: 100%;
    border-radius: 1vw;
}


h1 {
    font-size: 10vw;
    color: rgb(255, 255, 255);
    padding: 40px;
    text-align: center;
    text-shadow: 4px 4px 20px #1d1d1d
}


a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    cursor: pointer;
    font-size: 1.1em;
}

a:hover {
    text-decoration: underline;
    color: currentColor;
}

p a{
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    cursor: pointer;
}

footer {
    background-color: rgba(43, 43, 43, 0.76);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 1.2vw;
    margin-top: 5vw;
    padding-right: 15vw;
    color: white;
}

.contactForm {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    overflow: hidden;
}

input {
    border-radius: 5px;
    padding: 3px;
}

textarea {
    border-radius: 5px;
    padding: 3px;
}


input:invalid {
    border: 3px solid red;
    background-color: rgb(255, 255, 255);
}


@media (max-width: 720px) {
    .projects {
        flex-direction: column;
    }

    .projectCards {
        width: 56vw;
    }

    .projectCards h3 {
        width: 30vw;
    }

    .afbeeldingen {
        flex-direction: column;
    }

    .afbeelding {
        width: 55vw;
        padding: 2vw;
    }

}

@media (max-width: 480px) {

    footer {
        flex-direction: column;
    }

    nav {
        flex-direction: column;
    }

    .contentBlok {
        padding: 5vw;
    }

    .title {
        font-size: 2em;
    }
}